@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museosanscyrl-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
	height: 100%;
}
body {
	font: 300 14px/1.3 "Museo Sans Cyrl", Arial, sans-serif;
	color: #000;
	background: url("../img/api.jpg") 50% no-repeat;
	background-size: cover;
	padding-top: 108px;
}


/* Layout */
.ba-container {
	padding-left: 50px;
	padding-right: 50px;
	max-width: 686px;
	border-radius: 10px;
	background-color:  #111a28;
	position: relative;
}

.ba-logo {
	position: absolute;
	top: 22px;
	left: 20px;
}

.ba-product {
	background: url("../img/Rounded Rectangle 1.jpg") 50% no-repeat;
}

.ba-product__image {
	float: left;
	width: 66.66666%;
	padding: 123px 84px 109px 37px;
	background: url("../img/Rounded Rectangle 1.jpg") 50% no-repeat;
	text-align: center;
}

.ba-product__info {
	font-family: "Museo Sans Cyrl", Arial, sans-serif;
	float: left;
	width: 33.3333%;
	color:  #e1e1e1;
	font-size: 24px;
}

.ba-second__title {
	font-family: "Museo Sans Cyrl", Arial, sans-serif;
	color:  #e1e1e1;
	font-size: 14px;
}

.ba-button {
	font-family: "Museo Sans Cyrl", Arial, sans-serif;
	border-width: 1px;
	border-color:  #ffffff;
	border-style: solid;
	background-color:  #111a28;
	opacity: 0.26;
	width: 67px;
	height: 30px;
	margin-bottom: 29px;
}

.ba-button--general {
	font-family: "Museo Sans Cyrl", Arial, sans-serif;
	border-width: 1px;
	border-color:  #ffffff;
	border-style: solid;
	background-color:  #4c525a;
	opacity: 0.26;
	width: 182px;
	height: 38px;
	margin-bottom: 75px;
}


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
